.first-face {
  justify-content: center;
  align-items: center;
}
.dice {
  padding: 0.5rem;
  background: #ff6347;
  width: 5rem;
  height: 5rem;
  border-radius: 10%;
  margin-bottom: 1rem;
}
.dot {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #fff;
}

.second-face .dot:nth-of-type(2),
.third-face .dot:nth-of-type(1) {
  align-self: flex-end;
}

.third-face .dot:nth-of-type(2) {
  align-self: center;
}

.fourth-face .column,
.sixth-face .column,
.fifth-face .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
  justify-content: center;
}

.first-face,
.second-face,
.third-face,
.fourth-face,
.fifth-face,
.sixth-face {
  display: flex;
}
.second-face,
.third-face,
.fourth-face,
.fifth-face,
.sixth-face {
  justify-content: space-between;
}
